
{% load crowdapp_extras %}

<div class="stats-input-box">
	<span class="stats-input-title">{{elem.task_input.type|input_type_name}}</span>
	{% if elem.task_input.type == 1 %} <!-- Checkbox -->
		<table>
			<thead><th>Value</th><th>Solutions</th></thead>
			<tr><td>False</td> <td>{{ elem.stats.counts.0 }}</td></tr>
			<tr><td>True</td> <td>{{ elem.stats.counts.1 }}</td></tr>
		</table>
	{% elif elem.task_input.type == 2 %} <!-- Radio group -->
		<table>
		<thead>
			<th>Choice</th><th>Solutions</th>
		</thead>
			{% for count in elem.stats.counts %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{count}}</td>
				</tr>
			{% endfor %}
		</table>
	{% elif elem.task_input.type == 3 %} <!-- Ranking -->
		<table>
		<thead>
			<th>Item</th><th>Mean Score</th><th>Variance</th>
		</thead>
		{% for score in elem.stats.scores %}
			<tr>
				<td>{{forloop.counter}}</td> 
				<td>{{score.0}}</td>
				<td>{{score.1}}</td>
			</tr>
		{% endfor %}
		</table>
	{% elif elem.task_input.type == 4 %} <!-- Number field -->
		<table>
			<thead><th>Measure</th><th>Value</th></thead>
			<tr><td>Mean</td> <td>{{elem.stats.mean}}</td></tr>
			<tr><td>Variance</td> <td>{{elem.stats.variance}}</td></tr>
		</table>
	{% endif %}
</div>