{% extends "base_user.html" %} 

{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/toolbox.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.2.custom.min.css">

<script src="{{ STATIC_URL }}js/lib/jquery-ui-1.10.2.custom.min.js"></script>

<script src="http://code.angularjs.org/1.1.4/angular.js"></script>
<script src="http://code.angularjs.org/1.1.4/angular-sanitize.js"></script>
<script src="https://raw.github.com/angular-ui/angular-ui/master/build/angular-ui.min.js"></script>

<script src="{{ STATIC_URL }}js/toolbox.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/toolbox-items.js" type="text/javascript"></script>

{% endblock %}

{% block content %}

<h2>Create Task</h2>

<form method="post" id="create-task-form" class="create-task-form" enctype="multipart/form-data">
	{% csrf_token %}
	{{ task_form.non_field_errors }}
	
	{{ task_form.name.label_tag }}: {{ task_form.name }} {{ task_form.name.errors }}
	<br><br>
	
	Access Paths:
	<div class="accesspath-forms">
		{{ accesspath_formset.management_form }}
		{{ accesspath_formset.non_field_errors }}
		{% for accesspath_form in accesspath_formset.forms %}
    		<div class="subform">
    			{{ accesspath_form.as_p }}
    		</div>
    	{% endfor %}
    	
    	<script type="text/javascript">
    		$(".accesspath-forms label:contains('Delete')").hide(); <!-- TODO: find a better solution -->
    		
	    	$(function() {
	    		$(".accesspath-forms .subform").formset({
	    			prefix: '{{ accesspath_formset.prefix }}',
	    			deleteText: "Remove item",
	    			addText: "Add",
	    		});
	    	});
    	</script>
	</div>
	<br>
	
	Toolbox:
	{% verbatim %}
	<div>Nothing here yet</div>
	{% endverbatim %}

	<br>
	{{ task_form.cost.label_tag }}: {{ task_form.cost }} {{ task_form.cost.errors }}
	<br>
	{{ task_form.is_active }} {{ task_form.is_active.label_tag}}
	
	<input type="hidden" name="task-html" id="task-html" value="<div>Testing</div>" />
	<br>
	<input type="submit" value="Save" />
</form>

{% endblock %}
