{% extends "base_user.html" %} 

{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/toolbox.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.2.custom.min.css">

<script src="{{ STATIC_URL }}js/lib/jquery-ui-1.10.2.custom.min.js"></script>

<script src="http://code.angularjs.org/1.1.4/angular.js"></script>
<script src="http://code.angularjs.org/1.1.4/angular-sanitize.js"></script>
<script src="https://raw.github.com/angular-ui/angular-ui/master/build/angular-ui.min.js"></script>

<script type="text/javascript">
  var app = angular.module('angularjs-toolbox', ['ui']);
</script>
<script src="{{ STATIC_URL }}js/edit-task.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}js/toolbox.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/toolbox-services.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/toolbox-items.js" type="text/javascript"></script>

{% endblock %}

{% block title %}
	{% if task_form.instance.id %} Edit task {% else %} Create task {% endif %}
{% endblock %}

<!-- JavaScript used only on this page -->
{% block pagescript %}
<script type="text/javascript">
  // Instead of hooking up in Django form generation, we're changing some
  // elements after the page load (less hassle and faster for minor changes).
  function addQualificationLabelFromOption(option)
  {
    var qualificationsContainer = $('.create-task-qualifications-container')[0];

    var newQualificationLabel = document.createElement('button');
    newQualificationLabel.type = 'button';
    newQualificationLabel.classList.add('create-task-qualification-label');
    newQualificationLabel.appendChild(document.createTextNode(option.label));

    newQualificationLabel.addEventListener('click', function() {
      option.selected = !option.selected;
      this.classList.toggle('create-task-qualification-selected');
    });

    qualificationsContainer.appendChild(newQualificationLabel);
  }

  function createQualificationTags()
  {
    var multipleQualificationSelect = $('#id_task-qualifications')[0];
    $(multipleQualificationSelect).hide();
    for (var i = 0; i < multipleQualificationSelect.options.length; i++) {
      addQualificationLabelFromOption(multipleQualificationSelect.options[i]);
    }
  };

  function onBodyLoad() {
    document.querySelector('#id_task-name').placeholder = 'Descriptive title of your task';
    document.querySelector('#id_task-cost').type = 'number';

    createQualificationTags();
  };

  /* FIXME: Implement a method to support hiding the X for removing a component
   * when the mouse is not over it. The method below is just way too hacky and
   * doesn't work good enough. Post-poning for now.
   */

  /*
  function onToolboxListMouseOver(evt) {
    var removeButton = evt.target.querySelector('.toolbox-remove-component');
    $(removeButton).show();
  };

  function onToolboxItemMouseOver(evt) {
    var removeButton = evt.target.parentNode.parentNode.querySelector('.toolbox-remove-component');
    $(removeButton).show();
  };
  
  function onToolboxListMouseOut(evt) {
    var removeButton = evt.target.querySelector('.toolbox-remove-component');
    $(removeButton).hide();
  };

  function onToolboxItemMouseOut(evt) {
    var removeButton = evt.target.parentNode.parentNode.querySelector('.toolbox-remove-component');
    $(removeButton).hide();
  };
  */
</script>
{% endblock %}

{% block content %}

<h2>{% if task_form.instance.id %} Edit task {% else %} Create task {% endif %}</h2>

<form ng-app="angularjs-toolbox" method="post" 
	action="{% if task_form.instance.id %} {% url 'crowdapp.views.edit_task' task_form.instance.id %} {% else %} {% url 'crowdapp.views.edit_task' %} {% endif %} " 
	id="create-task-form" class="create-task-form" enctype="multipart/form-data">
	
	{% csrf_token %}
	
	{% if task_form.instance.id %}
		<input type="hidden" name="task-id" value="{{ task_form.instance.id }}" />
	{% endif %}
	
	{{ task_form.non_field_errors }}

	{{ task_form.name.errors }}
	{{ task_form.name.label_tag }}: {{ task_form.name }} 
  <br>
	{{ task_form.cost.label_tag }}: {{ task_form.cost }} {{ task_form.cost.errors }}
	{{ task_form.is_active }} {{ task_form.is_active.label_tag}}
  <br>
  {{ task_form.qualifications.label}}: <span class="create-task-qualifications-container"></span>

	<!-- Begin Toolbox -->
	<div ng-controller="ToolboxCtrl" 
		{% if task_form.content.value %}
		ng-init="init({{ task_form.content.value }}, 'EDIT')"
		{% else %}
		ng-init="initEmpty()"
		{% endif %} 
		class="toolbox-container">
      <div class="toolbox-icons-list">
        {% verbatim %}
        <span class="toolbox-icon" ng-repeat="component in toolboxItemCtrls" ng-click="addElement('{{component.TYPE}}')">
          <img src="/static/img/toolbox-icons/{{component.ICON}}" title="{{component.NAME}}" />
        </span>
        {% endverbatim %}
        <span ng-bind='warning' class='toolbox-warning-message'></span>
      </div>

	    <ul ui-sortable="sortableOptions" ng-model="content" class="toolbox-item-list">
        {% verbatim %}
    	  <li ng-repeat="item in content" class="toolbox-item" id="{{item.id}}">
        <!-- onMouseOver="onToolboxListMouseOver(event);" onMouseOut="onToolboxListMouseOut(event)"; -->
	    		<div ng-click="removeElement(item.id)" ng-show="isEditable()" class="toolbox-remove-component">
            <img src="/static/img/toolbox-icons/remove.png" title="Remove Component" class="toolbox-remove-component-image" />
          </div>
          <span class="toolbox-component-name">{{item.desc}}</span>
	    		<toolbox-item content="item" itemcontent="item.itemContent">
            <!-- onMouseOver="onToolboxItemMouseOver(event);" onMouseOut="onToolboxItemMouseOut(event);" -->
          </toolbox-item>
	    	</li>
        {% endverbatim %}
	    </ul>
  	</div>
  	<!-- End Toolbox -->
  	
  	<!-- Begin Access Paths -->
	{% if accesspath_formset.is_empty %}
		<button type="button" id="add-accesspaths">Enable Access Paths</button>
    <!-- FIXME: This needs to be moved in the block pagescript. -->
		<script type="text/javascript">
			$('#add-accesspaths').click(function(){
				$('#accesspaths').show();
				$('#add-accesspaths').hide();
			});
		</script>
	{% endif %}
	<div id="accesspaths" {% if accesspath_formset.is_empty %} style="display:none;"{% endif %}>
		<div id="accesspath-formset">
			{{ accesspath_formset.management_form }}
			{{ accesspath_formset.non_field_errors }}
	    	{% for accesspath_form in accesspath_formset.forms %}
	    		<div class="subform access-path-form">
            		<span class="access-path-form-description">Access Path</span>
	    			{{ accesspath_form.as_p }}
	    		</div>
		    {% endfor %}
        
        	<!-- FIXME: This needs to be moved in the block pagescript. -->	
	    	<script type="text/javascript">
	    		$("#accesspath-formset label:contains('Delete')").hide(); <!-- TODO: find a better solution -->
	    		
		    	$(function() {
		    		$(".subform").formset({
		    			prefix: '{{ accesspath_formset.prefix }}',
		    			deleteText: '',
		    			addText: '',
		    		});
		    	});
	    	</script>
		</div>
	</div>
	<!-- End Access Paths -->
	
	<br><br>
	
	{{ task_form.qualifications }}

	{{ task_form.content }}
	{{ task_form.resource_files }}
  <div ng-controller="MasterFormCtrl">
	  <button ng-click="submitForm()" type="button">Save</button>
  </div>
</form>

{% endblock %}
