{% extends "base_user.html" %}

{% load crowdapp_extras %}

{% block title %}
  Task List
{% endblock %}
{% block content %}

<h2>Task List</h2>

{% if tasks %}
  <table class="generic-table-list">
        <tr>
            <th> Action </th>
            <th> Task Name </th>
            <th> Creator </th>
            <th> Cost </th>
            <th> Creation Date </th>
        </tr>
    {% for task in tasks %}
        <tr
        {% if forloop.counter|divisibleby:2 %}
          class="even"
        {% else %}
          class="odd"
        {% endif %}
        >
            <td>
                {% if task.can_solve %}
                    <a href="{% url "crowdapp.views.complete_task" task.id %}">
                      <img src="{{ STATIC_URL }}img/solve.png" title="Solve"/>
                    </a>
                {% else %}
                    <img src="{{ STATIC_URL }}img/solved.png" title="Solved!"/>
                {% endif %}
            </td>
            <td class="task-name"> {{ task.name }} </td>
            <td> {{ task.creator }} </td>
            <td> {{ task.cost }} </td>
            <td> {{ task.created_at }} </td>
        </tr>
    {% endfor %}
  </table>
{% else %}
    No active tasks available.
{% endif %}


{% endblock %}
