{% extends "base_user.html" %} 

{% block title %}
  Own Tasks
{% endblock %}

{% block content %}

<h2>Own Tasks</h2>
<br>

{% if tasks %}
    <table class="generic-table-list">
        <tr>
            <th> Actions </th>
            <th> Task Name </th>
            <th> Cost </th>
            <th> Creation Date </th>
        </tr>
    {% for task in tasks %}
        <tr
        {% if forloop.counter|divisibleby:2 %}
          class="even"
        {% else %}
          class="odd"
        {% endif %}
        >
            <td>
                {% if task.is_active %}
                    <a href="{% url "crowdapp.views.task_solutions" task.id %}">
                      <img src="{{ STATIC_URL }}img/view_solutions.png" title="Mark Solutions"/>
                    </a>
                {% else %}
                    <a href="{% url "crowdapp.views.edit_task" task.id %}">
                      <img src="{{ STATIC_URL }}img/edit_task.png" title="Edit Task"/>
                    </a>
                {% endif %}
            </td>
            <td class="task-name"> {{ task.name }} </td>
            <td> {{ task.cost }} </td>
            <td> {{ task.created_at }} </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    No tasks are created by you.
{% endif %}

{% endblock %}
