{% extends "base_user.html" %} 

{% load crowdapp_extras %} 

{% block title %}
  Solution {{solution.task.name}}
{% endblock %}

{% block content %}

<h2> View solution </h2> <br/>

<table class='task_list'>
  <tr>  
    <th> Task: </th>
    <td> {{ solution.task.name }} </td>
  </tr>
  {% if user|profile != solution.worker %} 
  <tr>
    <th> Worker: </th>
    <td> {{ user|profile }} </td>
  </tr>
  {% endif %}
  <tr>
    <th> Access path: </th>
    {% if solution.access_path %}
    <td> {{ solution.access_path.description }} </td>
    {% else %}
    <td> None </td>
    {% endif %}
  </tr>
  <tr>
    <th> Created at: </th>
    <td> {{ solution.created_at }} </td>
  </tr>
  <tr>
    <th> Status: </th>
    <td> {{ solution.get_status_display }} </td>
  </tr>
</table>

<ol>
{% for answer in solution.answer_set.all %}
	<li>{{ answer.value }}</li>
{% endfor %}
</ol>

{% if user|profile == solution.task.creator and solution.status == 1 %}
	<a href="{% url "crowdapp.views.process_solution" solution.id 1 %}">Approve</a>
	<a href="{% url "crowdapp.views.process_solution" solution.id 0 %}">Deny</a>
{% endif %}

{% endblock %}
