{% extends "base_user.html" %}

{% block title %}
  Solutions {{task.name}}
{% endblock %}

{% block content %}

<h2>{{ task.name }}</h2> <br/>
<h4>Submitted solutions: </h4> <br/>
<table class='task_list'>
  <tr>
    <th>Date</th>
    <th>Worker</th>
    <th>Access path</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  {% for solution in task.solution_set.all %}
  <tr>
    <td>{{solution.created_at}}</td>
    <td>{{solution.worker}}</td>
    <td>{{solution.access_path}}</td>
    <td>{{solution.get_status_display}}</td>
    <td><a href="{% url "crowdapp.views.view_solution" solution.id %}">View</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
