{% extends "base.html" %} 

{% load crowdapp_extras %} 

{% block menu %}
	<li><a href="/all_tasks">View tasks</a></li>
	<li><a href="#">Manage tasks</a>
		<ul>
			<li><a href="/create_task">Create task</a></li>
			<li><a href="/my_tasks">My tasks</a></li>
		</ul>
	</li>
	<li><a href="#">My account</a></li>
	<li><a href="/my_solutions/">My solutions</a></li>

{% endblock %}

{% block welcome_message %}
<span>Logged in as {{user|profile}}!</span> <a href="/logout/">Logout</a>
{% endblock %}

{% block sidebar %}							
	<div class="art-block clearfix">
		<div class="art-blockheader">
			<h3 class="t">Completed tasks</h3>
		</div>
		<div class="art-blockcontent">
		<div>
			<ul>
				{% with profile=user|profile %}
					{% for solution in profile.solution_set.all %}
						{% if solution.status != 0 %} 
							<li><a href="{% url "crowdapp.views.view_solution" solution.id %}">{{ solution.task }}</a></li>
						{% endif %}
					{% empty %}
						No completed tasks yet.
					{% endfor %}
				{% endwith %}
			</ul>
			</div>
		</div>
	</div>	
{% endblock %}
