/* Main Page */
#welcome_message
{
	position: absolute;
	right: 0px;
	top: 0px;

	font-size: 22px;
	color: #FFF;
}

/* General styles */
#art-main p
{
	margin: 5px 0 5px 0;
}

.task_list td
{
	padding: 2px 20px 2px 20px;
}

td
{
	padding: 5px;
}

.flash_message
{
	text-color: #4444ff;
}


.create-task-form
{
	width: 50%;
}

#accesspath-formset
{
	border: 1px solid #888; 
	padding: 10px 20px 10px 5px;
}

#accesspath-formset label
{
	display:inline-block;
	width: 100px;
}

#accesspath-formset input, #accesspath-formset textarea
{
	display:inline-block;
}


