/* All Pages */
h2 {
	padding: 15px !important;
}

/* Main Page */
#welcome_message
{
	position: absolute;
	right: 0px;
	top: 0px;

	font-size: 22px;
	color: #FFF;
}

/* General styles */
.padded
{
        padding: 10px 20px 2px 40px;
}
.signicon
{
        list-style-image: url('/static/img/postbullets.png');
        line-height: 20px;
}
#art-main p
{
	margin: 5px 0 5px 0;
}

.task_list td
{
	padding: 2px 20px 2px 20px;
}

td
{
	padding: 5px;
}

.flash_message
{
	text-color: #4444ff;
}

.create-task-form
{
	width: 50%;
}

#accesspath-formset input, #accesspath-formset textarea
{
	display:inline-block;
}

/* Registration Form Styles */
.registration-form {
	margin-left: 20px;
}


.standard-fieldset {
	padding: 1em;
	border: 0;
}

.standard-fieldset label {
	float:left;
	width:25%;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align: right;
	font-size: 100%;
	font-weight: bold;
}

.standard-fieldset input,
.create-task-form textarea,
.create-task-form input {
	font-size: 12px;
	padding: 4px 2px;
	border: 1px solid gray;
	margin: 2px 0 20px 10px;
}

.registration-form input[type='submit'],
.create-task-form input[type='submit'],
.my-account-form input[type='submit']
{
	position: absolute;
	margin-left: 26%;
	width: 150px;
}

.standard-fieldset input:focus,
.standard-fieldset select:focus,
.create-task-form input:focus,
.create-task-form select:focus,
.create-task-form textarea:focus {
	border: 1px solid darkblue;
}

.standard-fieldset select {
	border: 1px solid gray;
	padding: 2px;
}

/* Registration Field-Set Specifics */
/* Note: if fields are changed, this CSS needs to change too. */
.registration-fieldset p:nth-child(5)
{
	padding-top: 25px;
}
/*
.registration-fieldset p:nth-child(9) select,
.registration-fieldset p:nth-child(10) select,
.registration-fieldset p:nth-child(11) select,
.registration-fieldset p:nth-child(12) select
{
	width: 150px;
}
*/

/* My Account Field-Set Specifics */
/*
.my-account-fieldset p:nth-child(3) select,
.my-account-fieldset p:nth-child(5) select,
.my-account-fieldset p:nth-child(6) select,
.my-account-fieldset p:nth-child(7) select,
.my-account-fieldset p:nth-child(8) select
{
	width: 150px;
}
*/

select {
	width: 150px;
}
/* Edit Task Form */
.create-task-form {
	margin-left: 15px;
	padding: 15px;
}

.create-task-form button {
	border: 0;
}

.create-task-qualifications-container .create-task-qualification-label {
	border-radius: 5px;
	border: 1px solid blue;
	cursor: pointer;
	background: white;
}

.create-task-qualifications-container .create-task-qualification-selected {
	font-weight: bold;
	background: lightgreen;
}

#id_task-name {
	width: 300px;
	margin-left: 10px;
}

#id_task-cost {
	margin: 5px 0px 0px 8px;
}

#id_task-qualifications {
	width: 150px;
	background: white;
}

/* Tooltips  */
a.tooltip {
  outline:none;
  text-decoration:none;
} 
a.tooltip strong {
  line-height:30px;
} 
a.tooltip:hover {
  text-decoration:none;
} 
a.tooltip span { 
  z-index:10;
  display:none; 
  padding:14px 20px; 
  margin-top:-30px; 
  margin-left:28px; 
  width:240px; 
  line-height:16px; 
} 
a.tooltip:hover span{ 
  display:inline; 
  position:absolute; 
  color:#111; 
  border:1px solid #DCA; 
  background:#fffAF0;
} 
.callout {
  z-index:20;
  position:absolute;
  top:30px;
  border:0;
  left:-12px;
}
a.tooltip span { 
  border-radius:4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  -moz-box-shadow: 5px 5px 8px #CCC; 
  -webkit-box-shadow: 5px 5px 8px #CCC; 
  box-shadow: 5px 5px 8px #CCC; 
}

/* Access Path Forms */
.access-path-form {
	margin-bottom: 15px;
	position: relative;
	border: 1px solid #EEE;
}

.access-path-form-description {
	position: relative;
	top: -10px;
	padding: 0px 10px;
	background: white;
	color: gray;
}

.access-path-form textarea {
	padding: 0;
	margin: 0;
}

.access-path-form label
{
	margin-left: 10px;
	display:inline-block;
	width: 100px;
}

.access-path-form .delete-row {
	position: absolute;
	right: 2px;
	top: 2px;

	background: url('/static/img/toolbox-icons/remove.png');
	width: 16px;
	height: 16px;
}

#accesspaths .add-row {
	display: block;

	width: 24px;
	height: 24px;

	background: url('/static/img/toolbox-icons/list-add-3.png');
}

/* Error Messages */
.errorlist {
	color: red;
	font-size: 0.8em;
	position: relative;
}
.registration-fieldset .errorlist,
.my-account-fieldset .errorlist {
	left: 26%;
	width: 150px;
}

.create-task-form .access-path-form .errorlist {
	left: 20.5%;
}
.create-task-form .errorlist {
	left: 7.5%;
}

.menu-entry-logout {
	float: right;
	position: absolute;
	right: 0px;
}

/* Table List Styling */
.generic-table-list {
	width: 90%;
	margin: 0% 5% 0% 5%;
	text-align: center;

	border-collapse: collapse;
}

.generic-table-list .task-name {
}
.generic-table-list th {
	font-size: 110%;
	background: rgba(58, 69, 88, 0.8);
	color: white;
}

.generic-table-list .even {
	 background: #EEE;
}

.view-solution-table {
	text-align: left;
	margin-left: 5%;
}

.complete-task-container {
	margin: 0% 5% 0% 5%;
	width: 90%;
}

.complete-task-container button
{
	margin: 0% 30% 0% 30%;
	border: 0px;
	width: 40%;
}

.complete-task-container img
{
	margin: 2px;
}

a.action-icon {
	text-decoration: none;
}


/* Task Statistics Styling */
#task-stats-container {
	margin: 10px;
}

#task-stats-container h3 {
	font-weight: bold;
	font-size: 18px;
}

#task-stats-container h4 {
	font-weight: bold;
	font-size: 16px;
}

#task-stats-container .stats-inputs-container {
	border: 1px solid black;
	padding: 5px;
}

#task-stats-container .stats-input-box {
	margin: 10px 5px 10px 5px;
	border: 1px solid #EEE;
	padding: 3px 0px 4px 5px;
}

#task-stats-container .stats-input-title {
	position: relative;
	top: -12px;
	padding: 0px 5px;
	background: white;
	color: gray;
}

#task-stats-container .stats-access-path-container {
	margin: 10px 0 10px 0;
}

#task-stats-container .stats-inputs-header {
	font-weight: bold;
}

#task-stats-container table, th, td {
	border: 1px solid #EEE;
}

#task-stats-container th {
	font-weight: bold;
}


