#welcome_message
{
	position: absolute;
	right: 0px;
	top: 0px;

	font-size: 22px;
	color: #FFF;
}

#art-main p
{
	margin: 5px 0 5px 0;
}

.task_list td
{
	padding: 2px 20px 2px 20px;
}

td
{
	padding: 5px;
}
