.toolbox-container {
	margin-top: 10px;

	padding: 5px;
	border: 1px solid black;
}

.toolbox-icon {
	padding: 0px 5px;
	cursor: pointer;
}

.toolbox-state-btn {
}

.toolbox-new-elem {
	margin-top: 10px;
}

.toolbox-item-list {
	list-style-type: none;
	padding: 5px;
}

.toolbox-item {
	max-width: 500px;
	padding: 5px;
	margin-bottom: 2px;
/*
	border: 1px solid #333;
	background: #EEE;
*/
}

.placeholder {
	border: 1px solid #333;
    background: #AEF;
}

.toolbox-ranking-list {
	list-style-type: none;
	padding-left: 0;
}
.toolbox-ranking-list li {
	list-style-type: none;
	margin-bottom: 5px;
}

.toolbox-ranking-list li .toolbox-ranking-name {
	cursor: default;
	border: 1px solid #333;
	padding: 0 2px 0 2px;
	margin-right: 5px;
}

.toolbox-ranking-list li.selected .toolbox-ranking-name {
	background-color: #d55;
}

.toolbox-editable {
	/* Related to our beloved label and contenteditable problem on firefox. */
	display: inline;
}
