.toolbox-container {
	margin-top: 10px;
	padding: 5px;
}

.toolbox-icon {
	padding: 0px 5px;
	cursor: pointer;
}

.toolbox-container input[type='checkbox'],
.toolbox-container input[type='radio'],
.toolbox-container input[type='file']
{
	border: 0;
	padding: 0;
	margin: 2px;
}

.toolbox-container input[type='number']
{
	margin: 0;
	width: 35px;
}

.toolbox-remove-component {
	position: relative;
}

.toolbox-remove-component img {
	position: absolute;
	right: 0px;
}

.toolbox-state-btn {
}

.toolbox-component-name {
	position: relative;
	top: -12px;
	padding: 0px 5px;
	background: white;
	color: gray;
}

.toolbox-new-elem {
	margin-top: 10px;
}

.toolbox-item-list {
	list-style-type: none;
	padding: 5px;
}

.toolbox-item {
	display: block;
	margin: 12px 0px;
	border: 1px solid #EEE;
	padding: 3px 0px 4px 5px;
/*
	border: 1px solid #333;
	background: #EEE;
*/
}

.placeholder {
	border: 1px solid #333;
	background: #AEF;
}

.toolbox-ranking-list {
	list-style-type: none;
	padding-left: 0;
}
.toolbox-ranking-list li {
	list-style-type: none;
	margin-bottom: 5px;
}

.toolbox-ranking-list li .toolbox-ranking-name {
	cursor: default;
	border: 1px solid #333;
	padding: 0 2px 0 2px;
	margin-right: 5px;
}

.toolbox-ranking-list li.selected .toolbox-ranking-name {
	background-color: #d55;
}

.toolbox-editable {
	/* Related to our beloved label and contenteditable problem on firefox. */
	display: inline;
}

.toolbox-item-add {
	display: inline-block;

	width: 24px;
	height: 24px;

	background: url('/static/img/toolbox-icons/list-add-3.png');
}

.toolbox-item-remove {
	margin: 0px 0px -2px 5px;
	display: inline-block;
	width: 16px;
	height: 16px;

	background: url('/static/img/toolbox-icons/list-remove-3.png');
}

.toolbox-warning-message {
	position: relative;
	top: -8px;
	height: 32px;
	color: red;
}
