{% extends "base_visitor.html" %} 

{% block title %}
  Register
{% endblock %}

{% block content %}

<style type="text/css">
.helptext {
	visibility: hidden;
}
</style>

<h2>Register</h2>
<form method="post" action="{% url "crowdapp.views.register" %}" id="register_form" style="width: 200px;">
	{% csrf_token %}
	<fieldset class="input" style="border: 0 none;">
		{{ user_form.as_p }} 
		{{ profile_form.as_p }} 
                <p> Hold down "Control" or "Command" on a Mac, to select more than one. </p>
		<input type="submit" value="Register" />
	</fieldset>
</form>

{% endblock %} 

{% block sidebar %} 


{% endblock %}
