{% extends "base_visitor.html" %} 

{% block title %}
  Register
{% endblock %}

{% block content %}

<!-- Still a TODO: think about how these tooltips can be displayed.. -->
<style type="text/css">
.helptext {
	visibility: hidden;
}
</style>

<h2>Register</h2>

<form method="post" action="{% url "crowdapp.views.register" %}" id="register_form" class="registration-form">
	{% csrf_token %}
	<fieldset class="input standard-fieldset registration-fieldset">
		{{ user_form.as_p }} 
		{{ profile_form.as_p }} 
    <!--<p> Hold down "Control" or "Command" on a Mac, to select more than one. </p>-->
	</fieldset>
	<input type="submit" value="Register" />
</form>

{% endblock %} 

{% block sidebar %} 


{% endblock %}
